body{
    background-image: url(https://media1.giphy.com/media/aRZ4vTsHnyW6A/giphy.gif);
}
h1{
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
.font{
    font-family: 'Courier New', Courier, monospace;
}